.lead__title {
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
    margin-top: 56px;
  }

@media (max-width: 320px) {
  .lead__title {
    margin: 0;
    padding: 0;
    max-width: 288px;
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #ffffff;
    margin-top: 48px;
  }
}